<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD Oil Service</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <form th:onerror="" action="#" method="post" th:action="@{/panel/addservice/}" th:object="${service}">
        <!--<fieldset th:if="${#fields.hasAnyErrors()}" > Incorrect data:
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" style="color: #ff0000"/>
            </ul>
        </fieldset>-->
            <fieldset>
            <legend>Enter data from oil service</legend>
                <label>Service type
                    <input type="text" th:field="*{serviceType}"/>
                </label>
                <label>Service date:
                    <input type="date" th:field="*{serviceData}"/>
                </label>
                <label>Service mileage:
                    <input type="number" th:field="*{serviceMileage}"/>
                </label>
                <label>Run interval
                    <input type="number" min="0" th:field="*{runInterval}"/>
                </label>
                <label>Time interval
                    <input type="number" min="0" th:field="*{timeInterval}"/>
                </label>
                <label>Service cost
                    <input type="number" min="0" th:field="*{serviceCost}"/>
                </label>
                <label> -- Select vehicle --

                        <select th:field="*{vehicle}">
                            <option th:each="vehicle : ${vehicles}" type="radio"
                                    th:value="${vehicle.id}"
                                    th:text="${vehicle.name}"></option>
                        </select>

                </label>
                <label> -- Select oil --

                        <select th:field="*{oil}">
                            <option th:each="oil : ${oils}" type="radio"
                                    th:value="${oil.id}"
                                    th:text="${oil.oilName}"></option>
                        </select>

                </label>
            </fieldset>
        <p>
            <button type="submit">Confirm</button>
            <button type="reset">Clear</button>
            <a th:href="@{/panel/vehicleslist}"><button type="button">Go back to the main panel</button></a>
        </p>
    </form>
</main>
</body>
</html>