<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles view</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<fieldset>
    <h2>Services Panel <a th:text="${vehicle.get().getName()}"></a> <a th:text="${vehicle.get().getModel()}"></a></h2>
    <fieldset>Your oils - check list:
        <label>
            <select th:field="*{oils}">
                <option th:each="oil : ${oils}" type="radio"
                        th:value="${oil.id}"
                        th:text="${oil.oilName}+${oil.viscositySAE}"></option>
            </select>
            <a th:href="@{/panel/addoil}">
                <button>Add new oil</button>
            </a>
        </label>
    </fieldset>
    <table style="text-align: center">
        <thead>
        <tr>
            <th>Active</th>
            <th>Service type</th>
            <th>Oil Name</th>
            <th>SAE</th>
            <th>Service Data</th>
            <th>Days to expire</th>
            <th>Cut-off date for the next service</th>
            <th>Mileage to the required service</th>


        </tr>
        </thead>
        <!--/*@thymesVar id="" type="pl.gp.moto_service.model.ServiceViewModel"*/-->
        <!--/*@thymesVar id="oil" type="pl.gp.moto_service.entity.Oil"*/-->
        <tbody th:each="service : ${service}">
        <tr style="height: 75px">
            <td th:text="${service.active} ? 'Yes': 'No'"></td>
            <td th:text="${service.serviceType}"></td>
            <td th:text="${service.getOil().oilName}"></td>
            <td th:text="${service.getOil().viscositySAE}"></td>
            <td th:text="${service.serviceData}"></td>
            <td th:text="${service.daysToNextService}" th:style="${service.daysToNextService < 30} ? 'color:red' : 'color: green'"></td>
            <td th:text="${service.dateNextService}"></td>
            <td th:text="${service.mileageToNextService}" th:style="${service.mileageToNextService < 3000} ? 'color:red' : 'color: green'"></td>
            <!--<td th:text="${service.getOil().getOilName()}"></td>-->
        </tr>
        </tbody>
    </table>

    <fieldset> Sort:
        <a th:href="@{/panel/service/__${vehicle.get().getId()}__/sortbydays}">
            <button>by days to expire</button>
        </a>
        <a th:href="@{/panel/service/__${vehicle.get().getId()}__/sortbymileage}">
            <button>by mileage interval</button>
        </a>
    </fieldset>
    <fieldset> Action:
        <a th:href="@{/panel/addservice}">
            <button>Add service</button>
        </a>
        <a th:href="@{/panel/vehicleslist}">
            <button>Back to Main panel</button>
        </a>
    </fieldset>
</fieldset>
</body>
</html>