<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD Vehicle</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <form th:onerror="" action="#" method="post" th:action="@{/panel/addvehicle}" th:object="${vehicle}">
        <fieldset th:if="${#fields.hasAnyErrors()}" > Błędnie wprowadzone dane:
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" style="color: #ff0000"/>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Add new vehicle</legend>
            <label>
                <input type="hidden" th:field="*{id}"/>
            </label>

            <label>Name
                <input type="text" th:field="*{name}"/>
            </label>
            <label>Model
                <input type="text" th:field="*{model}"/>
            </label>
            <label>VIN number
                <input type="text" th:field="*{vin}"/>
            </label>
            <label>Production data
                <input type="date" th:field="*{productionData}"/>
            </label>
            <label>Purchase data
                <input type="date" th:field="*{purchaseData}"/>
            </label>
            <label>Vehicle ID number
                <input type="text" th:field="*{registrationId}"/>
            </label>
            <label>Current mileage
                <input  type="number" min="0" th:field="*{mileage}"/>
            </label>
            <label>Mileage on the day of purchase
                <input type="number" min="0" th:field="*{initialMileage}"/>
            </label>
            <label>Price
                <input type="number" min="0" th:field="*{operatingCosts}"/>
            </label>
        </fieldset>
        <p>
            <button type="submit">Add</button>
            <button type="reset">Clear</button>
            <a th:href="@{/panel/vehicleslist}"><button type="button">Back to main panel</button></a>
        </p>
    </form>
</main>
</body>
</html>