<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD Vehicle</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="vehicle" type="pl.gp.MotoService.entity.Vehicle"*/-->
    <form th:onerror="" action="#" method="post" th:action="@{/vehicle/addvehicle}" th:object="${vehicle}">
        <fieldset th:if="${#fields.hasAnyErrors()}" > Błędnie wprowadzone dane:
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" style="color: #ff0000"/>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Nowy Pojazd</legend>
            <label>Nazwa
                <input type="text" th:field="*{name}"/>
            </label>
            <label>Model
                <input type="text" th:field="*{model}"/>
            </label>
            <label>VIN
                <input type="text" th:field="*{vin}"/>
            </label>
            <label>Data produkcji
                <input type="date" th:field="*{productionData}"/>
            </label>
            <label>Data zakupu
                <input type="date" th:field="*{purchaseData}"/>
            </label>
            <label>Numer rejestracyjny
                <input type="text" th:field="*{registrationId}"/>
            </label>
            <label>Przebieg
                <input type="number" min="0" th:field="*{mileage}"/>
            </label>
            <label>Koszt zakupu
                <input type="number" min="0" th:field="*{operatingCosts}"/>
            </label>
                <fieldset>
               <!-- <details onclose="">-->
                <legend>Dodaj informacje o ubezpieczeniu</legend>
                <label>Nazwa ubezpieczyciela

                    <input type="text" th:field="*{insurance.name}"/>

                </label>
                <label>Data rozpoczęcia ubezpieczenia
                    <input type="date" th:field="*{insurance.releaseData}"/>
                </label>
                <label>Numer polisy ubezpieczeniowej
                    <input type="text" th:field="*{insurance.insuranceNumber}"/>
                </label>
                <label>Koszt zakupu ubezpieczenia
                    <input type="number" min="0" th:field="*{insurance.costs}"/>
                </label>
                </fieldset>

            <fieldset>
                <!--<details onclose="">-->
                <legend>Dodaj informacje o przeglądzie</legend>
                <label>Data wykonania przeglądu
                    <input type="date" th:field="*{techReview.releaseData}"/>
                </label>
                <label>Koszt przeglądu
                    <input type="number" min="0" th:field="*{techReview.costs}"/>
                </label>
                </details>
            </fieldset>
        </fieldset>

        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Wyczyść</button>
        </p>
    </form>
</main>
</body>
</html>