<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle details</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<fieldset>
<h2>Vehicle details</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>VIN Number</th>
        <th>Production date</th>
        <th>Date of purchase</th>
        <th>Mileage - day of purchas</th>
        <th>Registration ID</th>
        <th>Cost of purchase</th>
        <th>Actual - mileage</th>
    </tr>
    </thead>
    <!--/*@thymesVar id="vehicle" type="pl.gp.moto_service.entity.Vehicle"*/-->
    <tbody th:each="vehicle : ${vehicledetails}">
    <tr style="height: 75px">
        <td th:text="${vehicle.name}"></td>
        <td th:text="${vehicle.model}"></td>
        <td th:text="${vehicle.vin}"></td>
        <td th:text="${vehicle.productionData}"></td>
        <td th:text="${vehicle.purchaseData}"></td>
        <td th:text="${vehicle.initialMileage} + ' km'"></td>
        <td th:text="${vehicle.registrationId}"></td>
        <td th:text="${vehicle.operatingCosts} + ' pln'"></td>
        <td th:text="${vehicle.mileage} +  ' km'"></td>
    </tr>
    </tbody>
</table>
</fieldset>
<section>
    <fieldset>
        <h3 style="color: green">Statistics</h3>

            <span style="display: block">
            <div>You ran the distance:
                <a th:text="${#numbers.formatInteger(distance, 3, 'WHITESPACE')} + ' km'"></a>
            </div>
            </span>
            <span style="display: block">
            <div>You are using this vehicle:
                <a th:text="${using}"></a>
            </div>
            </span>
            <span style="display: block">
            <div>Actual total maintenance costs:
                <a th:text="${#numbers.formatCurrency(servicecost)}"></a>
            </div>
            </span>

    </fieldset>
</section>
<fieldset>
    <div>
        <a th:href="@{/panel/vehicleslist}"><button style="color: darkviolet">Back to main panel</button></a>
        <a th:href="@{/panel/arch/__${vehicledetails.id}__}"><button style="color: orange">Move to archive</button></a>
        <a th:href="@{/panel/edit/__${vehicledetails.id}__}"><button style="color: blue">Edit vehicle</button></a>
        <a th:href="@{/panel/delete/__${vehicledetails.id}__}"><button style="color: red">Delete</button></a>
    </div>
</fieldset>
</body>
</html>