<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles view</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<fieldset>
<h2>Vehicles List:</h2>
<table style="text-align: center">
    <thead>
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Costs</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Current mileage</th>
    </tr>
    </thead>
    <!--/*@thymesVar id="vehicle" type="pl.gp.moto_service.entity.Vehicle"*/-->
    <tbody th:each="vehicle : ${vehicles}">
    <tr style="height: 75px">
        <td>
            <a th:href="@{/panel/getvehicle/__${vehicle.id}__}"><button th:text="${vehicle.name}"></button></a>
        </td>
        <td th:text="${vehicle.model}"></td>
        <td th:text="${vehicle.operatingCosts} +' pln'">/td>
        <td><a th:href="@{/panel/insurancelist/__${vehicle.id}__}"><button type="button">Insurance</button></a></td>
        <td><a th:href="@{/panel/techlist/__${vehicle.id}__}"><button type="button">Technical Review</button></a></td>
        <td><a th:href="@{/panel/service/__${vehicle.id}__}"><button type="button">Service</button></a></td>
        <td>
            <a th:text="${vehicle.mileage} + ' km  '"></a>
            <a th:href="@{/panel/updatemileage/__${vehicle.id}__}"><button style="background-color: white; color: cornflowerblue; border: 2px solid #4CAF50; border-radius: 24px" >update</button></a>
        </td>
    </tr>
    </tbody>
</table>
</fieldset>
<fieldset>
    <div>
    <a th:href="@{/panel/addvehicle}">
        <button>Add vehicle</button>
    </a>
    </div>
    <div>
    <button type="button"> Vehicle archive</button>
    </div>
</fieldset>
</body>
</html>